<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chennann.car.mapper.FrontDeskMapper">


    <insert id="addSpecifics">
        INSERT INTO fault_specific (fault_number, specific_number)
        VALUES
        <foreach item="item" collection="specifics" separator=",">
            (#{number}, #{item})
        </foreach>
    </insert>
    <select id="findClients" resultType="com.chennann.car.pojo.Client">
        select * from client
        <where>
            <if test="number!=null">
                number = #{number}
            </if>
            <if test="name!=null">
                and name like CONCAT('%', #{name}, '%')
            </if>
            <if test="property!=null">
                and property = #{property}
            </if>
            <if test="contact_number!=null">
                and contact_number = #{contact_number}
            </if>
        </where>
    </select>
    <select id="findFaults" resultType="com.chennann.car.pojo.Fault">
        select * from fault, car, client
        <where>
            fault.identification_number = car.identification_number and car.client_number = client.number
            <if test="number!=null">
                and fault.number = #{number}
            </if>
            <if test="identification_number!=null">
                and fault.identification_number = #{identification_number}
            </if>
            <if test="client_number!=null">
                and client.number = #{client_number}
            </if>
            <if test="client_name!=null">
                and client.name like CONCAT('%', #{client_name}, '%')
            </if>
        </where>
    </select>
    <select id="findCars" resultType="com.chennann.car.pojo.Car">
        select car.identification_number, car.license_plate_number, car.color, car.vehicle_type, client.number client_number, client.name client_name, client.contact_number client_contact_number from car, client
        <where>
            car.client_number = client.number
            <if test="identificationNumber!=null">
                identification_number = #{identificationNumber}
            </if>
            <if test="licensePlateNumber!=null">
                and license_plate_number = #{licensePlateNumber}
            </if>
            <if test="vehicleType!=null">
                and vehicle_type like CONCAT('%', #{vehicleType}, '%')
            </if>
            <if test="clientNumber!=null">
                and client.number = #{clientNumber}
            </if>
            <if test="clientName!=null">
                and client.name like CONCAT('%', #{clientName}, '%')
            </if>
        </where>
    </select>
    <select id="findRepairman" resultType="com.chennann.car.pojo.Repairman">
        select * from repairman
        <where>
            <if test="jobs!=null">
                jobs = #{jobs}
            </if>
            <if test="number!=null">
                and number = #{number}
            </if>
        </where>
    </select>
    <select id="findSpecifics" resultType="com.chennann.car.pojo.Specific">
        select * from specific_information
        <where>
            <if test="jobsType!=null">
                jobs_type = #{jobsType}
            </if>
            <if test="keywords!=null">
                and name like CONCAT('%', #{keywords}, '%')
            </if>
        </where>
    </select>
    <select id="getSpecificsByFaultNumber" resultType="com.chennann.car.pojo.SpecificsOfFaultNumber">
        select * from fault_specific A, specific_information B
        where A.specific_number = B.number and A.fault_number = #{faultNumber}
    </select>

</mapper>